@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
	margin:	0;
	padding: 0;
	box-sizing: border-box;
}

body, html{
	font-family: 'Poppins', sans-serif;
}

.grid{
	display: grid;
	place-items:  center;
}

.cardHighlight{
	min-height: 100%;
	box-shadow: 0 0 10px;
}

.cardHighlight:hover{
	box-shadow: inset 0 0 10px;
}

.cardImg{
	height: 300px;
	max-width: 100%;
}

.cardProduct{
	min-height: 100%;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

